#warning
{
  color: red;
}

#success
{
  color: green;
}

input[type=submit]
{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 10em;
    height: 5ex;
    border: 2px solid ;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: aqua;
}

input[type=text], input[type=password] {
    border-radius: 5px;
    height: 30px;
    width: 300px;
    
  }